*.log
*.o
*.obj
.vs/
obj/
ob/
bin/
net/
msdos_pcc/
*.suo
*.user
Backup/
amiga/GO
amiga/lug
amiga/Lugi (old exe)
amiga/Lugi-high-scores.txt
amiga/Lugi.dbg
msdos/LATER.EXE
msdos/LUGI.PIF
msdos/LUGI.sym
msdos/lugscore.txt
unix/Lugi-high-scores.txt
windows/Lugi-high-scores.txt
windows/Lugi.pdb
windows/Lugi.vcxproj.filters
windows/vc140.pdb
emscripten/askd-lifecycle.txt
emscripten/Lugi-high-scores.txt
emscripten/lugi_x.html
msdos/OBS
msdos/PCC-MAK1.BAT
msdos/PCC-MAKE.BAT
